# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Test coverage
.coverage
.coverage.*
.pytest_cache/

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/

# AWS
.aws/
.aws-credentials

# Local development
*.log
.DS_Store
